<h3>Reset Password</h3>
<div *ngIf="message" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong>Password Reset Successfully
    <button (click)="removeMessage()" type="button" data-bs-dismiss="alert" aria-label="Close">X</button>
</div>
<div class="container col-md-3">
    <form [formGroup] = "resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            Username: {{currentUser.userName}}
        </div> <!-- username form group-->

        <div class="form-group">
            <label>Current Password</label>
            <input type="password"
            formControlName="currentPassword"
            class="form-control"
            [ngClass]="{'is-invalid':isSubmitted && getFormControls['currentPassword'].errors}"/><!--apply the dynamic CSS to the input field
                                                                                apply error class to the input field if any errors are present-->
            <!-- Define validation messages -->
            <div *ngIf="isSubmitted && getFormControls['currentPassword'].errors" class="invalid-feedback">
                <div *ngIf="getFormControls['currentPassword'].errors['required']">
                    Current Password cannot be Empty
                </div>
                <div *ngIf="getFormControls['currentPassword'].errors['minlength']">
                    Current Password must be at least 6 characters
                </div>
            </div>
        </div> <!-- current password form group-->

        <div class="form-group">
            <label>New Password</label>
            <input type="password"
            formControlName="newPassword"
            class="form-control"
            [ngClass]="{'is-invalid':isSubmitted && getFormControls['newPassword'].errors}"/><!--apply the dynamic CSS to the input field
                                                                                apply error class to the input field if any errors are present-->
            <!-- Define validation messages -->
            <div *ngIf="isSubmitted && getFormControls['newPassword'].errors" class="invalid-feedback">
                <div *ngIf="getFormControls['newPassword'].errors['required']">
                    New Password cannot be Empty
                </div>
                <div *ngIf="getFormControls['newPassword'].errors['minlength']">
                    New Password must be at least 6 characters
                </div>
            </div>
        </div> <!-- new password form group-->

        <br>
        <!--Adding button to submit-->
        <div class="form-group">
            <button class="button btn" type="submit">Reset Password</button>
        </div> <!-- end div-->
    </form> <!-- end form-->
</div> <!-- end container-->
